nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: orange;
    /* background-color: lightgray; */
}