body {
    max-width: 1000px; 
    background-color: #f9f9f9;
    margin: 0 auto;
}
.card-section{
    text-align: center; 
    margin: 20px; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.card-container{
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.card{
    max-width: 250px; 
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: left; 
}
.card:hover{
    box-shadow: 4px 4px 16px rgba(0,0,0,0.2);
    background-color: #df6767;
}
.card h3{
    font-size: 1.25em; 
    font-weight: 700;
}
.card img{
    width: 100%;  
    height: 50%; 
    border-radius: 8px 8px 0 0;
}
button {
    /* margin: 20px; */
    padding: 10px 20px;
    background-color: orange;
    border: none;
    font-size: large; 
    border-radius: 5px;
    cursor: pointer;
}